// Wrappers
/////////////////////////////////////////////////////
.wrapper {
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap : $gutter;
  @include break-at('small') {
    grid-column-gap: $gutter-half;
  }
}

// Grid
/////////////////////////////////////////////////////
.col-4 {
  grid-column: span 4;
  &-right {
    grid-column: 9 / span 4;
  }
  &-center {
    grid-column: 5 / span 4;
  }
}

.col-8 {
  grid-column: span 8;
}

.col-12 {
  grid-column: span 12;
}

// Rule
/////////////////////////////////////////////////////
.rule {
  padding-top: $gutter;
  border-top: 4px solid $blue;
  &-light {
    padding-top: $gutter;
    border-top: 4px solid $light-blue;
  }
  &-thin {
    padding-top: $gutter;
    border-top: 2px solid $blue;
  }
}

// Color
/////////////////////////////////////////////////////
.filled {
  background-color: $blue;
}

// General Structure
/////////////////////////////////////////////////////
section, footer {
  margin-top: $gutter-4;
}

header {
  margin-top: $gutter-2;
}

// About
/////////////////////////////////////////////////////
.testimonial {
  padding-top: $gutter;
  margin-top: $gutter-4;
  p {
    text-align: right;
  }
}

// Services
/////////////////////////////////////////////////////
.services__list {
  margin-top: $gutter;
}

// Contact
/////////////////////////////////////////////////////
.contact {
  padding: $gutter-2 0 $gutter-4 0;
}
