// Wrappers
/////////////////////////////////////////////////////
.wrapper {
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap : $gutter;
  @include break-at('small') {
    grid-column-gap: $gutter-half;
  }
}

// Grid
/////////////////////////////////////////////////////
.col-4 {
  grid-column: span 4;
  &-right {
    grid-column: 9 / span 4;
  }
  &-center {
    grid-column: 5 / span 4;
  }
}

.col-8 {
  grid-column: span 8;
}

.col-12 {
  grid-column: span 12;
}

// Color
/////////////////////////////////////////////////////
.filled {
  background-color: $blue;
}

// General Structure
/////////////////////////////////////////////////////
section, footer {
  margin-top: $gutter-4;
}

header {
  margin-top: $gutter-2;
  z-index: 999;
  @include break-at('small') {
    margin-top: $gutter;
  }
}

.header__title, .header__blurb, .section__title, .section__blurb {
  @include rule;
  @include break-at('small') {
    grid-column: span 12;
  }
}

.header__blurb, .section__blurb {
  @include break-at('small') {
    @include rule-none;
    padding-top: 0;
  }
}

.section__img {
  @include break-at('small') {
    grid-column: span 12;
  }
}

// Waves
/////////////////////////////////////////////////////
.waves__wrapper {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  bottom: -50px;
  left: 0;
  right: 0;
  @include break-at('small') {
    position: relative;
    width: 100%;
    margin-top: -100px;
  }
}

#waves__canvas {
  position: absolute;
  bottom: 0;
  @include break-at('small') {
    position: relative;
  }
}

// About
/////////////////////////////////////////////////////
.about {
  margin-top: 100vh;
  @include break-at('small') {
    margin-top: 0;
  }
}

.testimonial {
  padding-top: $gutter;
  margin-top: $gutter-4;
  z-index: 0;
  @include rule-thin;
  p {
    text-align: right;
  }
  @include break-at('small') {
    grid-column: span 12;
    padding-top: $gutter-half;
    margin-top: $gutter;
  }
}

// Services
/////////////////////////////////////////////////////
.services__list {
  margin-top: $gutter;
}

// Contact
/////////////////////////////////////////////////////
.contact {
  padding: $gutter-2 0 $gutter-4 0;
  .section__title, .section__blurb {
      @include rule-light;
  }
  .section__blurb {
    @include break-at('small') {
      @include rule-none;
      padding-top: 0;
    }
  }
}
