<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="wrapper">
      <div class="header__title col-8">
        <h1>
          Harbor Doula Care
        </h1>
      </div>
      <div class="header__blurb col-4">
        <h2>
          {{page.blurb}}
        </h2>
      </div>
    </header>

    <div class="waves__wrapper">
      <div id="waves__canvas">
      </div>
    </div>

    <section class="about wrapper">
      <div class="section__title col-4">
        <h1>
          About
        </h1>
        <h2>
          {{page.about-intro}}
        </h2>
      </div>
      <div class="section__blurb col-4">
        {{page.about | markdownify}}
      </div>
      <div class="section__img col-4">
        <div class="section__img__wrapper">
          <img src="{{page.headshot-image}}">
        </div>
      </div>
      {% for testimonial in page.testimonials %}
        <div class="testimonial col-4">
          {{testimonial.quote | markdownify}}
          <p class="testimonial__name">
            {{testimonial.person}}
          </p>
        </div>
      {% endfor %}
    </section>

    <section class="services wrapper">
      <div class="section__title col-4">
        <h1>
          Services
        </h1>
        <h2>
          {{page.services-intro}}
        </h2>
      </div>
      <div class="section__blurb col-4">
        <div class="services__list">
          {% for service in page.services %}
              <div class="service">
              <h2>
                {{service.name}}
              </h2>
              {{service.description | markdownify}}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="section__img col-4">
        <div class="section__img__wrapper">
          <img src="{{page.services-image}}">
        </div>
      </div>
    </section>

    <footer class="filled">
      <div class="contact wrapper">
        <div class="section__title col-4">
          <h1 class="light">
            Contact
          </h1>
        </div>
        <div class="section__blurb col-4">
          <p class="light">
            {{page.email}}
          </p>
          <p class="light">
            {{page.phone}}
          </p>
        </div>
        <div class="section__blurb col-4">
          {% for link in page.links %}
            <a href="{{link.url}}" target="_blank">
              <p class="light link" >
                {{link.name}}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
    </footer>

  </body>
</html>
